# coding: utf-8

"""
    Riot API

     OpenAPI/Swagger version of the [Riot API](https://developer.riotgames.com/). Automatically generated daily. ## Download OpenAPI Spec File The following versions of the Riot API spec file are available: - `openapi-3.0.0.json` ([download file](../openapi-3.0.0.json), [view ui](?openapi-3.0.0.json)) - `openapi-3.0.0.min.json` ([download file](../openapi-3.0.0.min.json), [view ui](?openapi-3.0.0.min.json)) - `openapi-3.0.0.yml` ([download file](../openapi-3.0.0.yml), [view ui](?openapi-3.0.0.yml)) - `openapi-3.0.0.min.yml` ([download file](../openapi-3.0.0.min.yml), [view ui](?openapi-3.0.0.min.yml)) - `swaggerspec-2.0.json` ([download file](../swaggerspec-2.0.json), [view ui](?swaggerspec-2.0.json)) - `swaggerspec-2.0.min.json` ([download file](../swaggerspec-2.0.min.json), [view ui](?swaggerspec-2.0.min.json)) - `swaggerspec-2.0.yml` ([download file](../swaggerspec-2.0.yml), [view ui](?swaggerspec-2.0.yml)) - `swaggerspec-2.0.min.yml` ([download file](../swaggerspec-2.0.min.yml), [view ui](?swaggerspec-2.0.min.yml)) ## Source Code Source code on [GitHub](https://github.com/MingweiSamuel/riotapi-schema). Pull requests welcome! ## Automatically Generated Rebuilt on [Travis CI](https://travis-ci.org/MingweiSamuel/riotapi-schema/builds) daily. ***   # noqa: E501

    OpenAPI spec version: dfa1c0f97b9cc62a43c9fb91daa1b91b3e9485c2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ChampionMasteryV4Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def champion_mastery_v4_get_all_champion_masteries(self, encrypted_summoner_id, **kwargs):  # noqa: E501
        """Get all champion mastery entries sorted by number of champion points descending,  # noqa: E501

        Get all champion mastery entries sorted by number of champion points descending,  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.champion_mastery_v4_get_all_champion_masteries(encrypted_summoner_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_summoner_id: Summoner ID associated with the player (required)
        :return: list[ChampionMasteryV4ChampionMasteryDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.champion_mastery_v4_get_all_champion_masteries_with_http_info(encrypted_summoner_id, **kwargs)  # noqa: E501
        else:
            (data) = self.champion_mastery_v4_get_all_champion_masteries_with_http_info(encrypted_summoner_id, **kwargs)  # noqa: E501
            return data

    def champion_mastery_v4_get_all_champion_masteries_with_http_info(self, encrypted_summoner_id, **kwargs):  # noqa: E501
        """Get all champion mastery entries sorted by number of champion points descending,  # noqa: E501

        Get all champion mastery entries sorted by number of champion points descending,  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.champion_mastery_v4_get_all_champion_masteries_with_http_info(encrypted_summoner_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_summoner_id: Summoner ID associated with the player (required)
        :return: list[ChampionMasteryV4ChampionMasteryDTO]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['encrypted_summoner_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method champion_mastery_v4_get_all_champion_masteries" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'encrypted_summoner_id' is set
        if ('encrypted_summoner_id' not in params or
                params['encrypted_summoner_id'] is None):
            raise ValueError("Missing the required parameter `encrypted_summoner_id` when calling `champion_mastery_v4_get_all_champion_masteries`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'encrypted_summoner_id' in params:
            path_params['encryptedSummonerId'] = params['encrypted_summoner_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-Riot-Token', 'api_key']  # noqa: E501

        return self.api_client.call_api(
            '/lol/champion-mastery/v4/champion-masteries/by-summoner/{encryptedSummonerId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ChampionMasteryV4ChampionMasteryDTO]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def champion_mastery_v4_get_champion_mastery(self, champion_id, encrypted_summoner_id, **kwargs):  # noqa: E501
        """Get a champion mastery by player ID and champion ID.  # noqa: E501

        Get a champion mastery by player ID and champion ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.champion_mastery_v4_get_champion_mastery(champion_id, encrypted_summoner_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int champion_id: Champion ID to retrieve Champion Mastery for (required)
        :param str encrypted_summoner_id: Summoner ID associated with the player (required)
        :return: ChampionMasteryV4ChampionMasteryDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.champion_mastery_v4_get_champion_mastery_with_http_info(champion_id, encrypted_summoner_id, **kwargs)  # noqa: E501
        else:
            (data) = self.champion_mastery_v4_get_champion_mastery_with_http_info(champion_id, encrypted_summoner_id, **kwargs)  # noqa: E501
            return data

    def champion_mastery_v4_get_champion_mastery_with_http_info(self, champion_id, encrypted_summoner_id, **kwargs):  # noqa: E501
        """Get a champion mastery by player ID and champion ID.  # noqa: E501

        Get a champion mastery by player ID and champion ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.champion_mastery_v4_get_champion_mastery_with_http_info(champion_id, encrypted_summoner_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int champion_id: Champion ID to retrieve Champion Mastery for (required)
        :param str encrypted_summoner_id: Summoner ID associated with the player (required)
        :return: ChampionMasteryV4ChampionMasteryDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['champion_id', 'encrypted_summoner_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method champion_mastery_v4_get_champion_mastery" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'champion_id' is set
        if ('champion_id' not in params or
                params['champion_id'] is None):
            raise ValueError("Missing the required parameter `champion_id` when calling `champion_mastery_v4_get_champion_mastery`")  # noqa: E501
        # verify the required parameter 'encrypted_summoner_id' is set
        if ('encrypted_summoner_id' not in params or
                params['encrypted_summoner_id'] is None):
            raise ValueError("Missing the required parameter `encrypted_summoner_id` when calling `champion_mastery_v4_get_champion_mastery`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'champion_id' in params:
            path_params['championId'] = params['champion_id']  # noqa: E501
        if 'encrypted_summoner_id' in params:
            path_params['encryptedSummonerId'] = params['encrypted_summoner_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-Riot-Token', 'api_key']  # noqa: E501

        return self.api_client.call_api(
            '/lol/champion-mastery/v4/champion-masteries/by-summoner/{encryptedSummonerId}/by-champion/{championId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ChampionMasteryV4ChampionMasteryDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def champion_mastery_v4_get_champion_mastery_score(self, encrypted_summoner_id, **kwargs):  # noqa: E501
        """Get a player's total champion mastery score, which is the sum of individual champion mastery levels.  # noqa: E501

        Get a player's total champion mastery score, which is the sum of individual champion mastery levels.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.champion_mastery_v4_get_champion_mastery_score(encrypted_summoner_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_summoner_id: Summoner ID associated with the player (required)
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.champion_mastery_v4_get_champion_mastery_score_with_http_info(encrypted_summoner_id, **kwargs)  # noqa: E501
        else:
            (data) = self.champion_mastery_v4_get_champion_mastery_score_with_http_info(encrypted_summoner_id, **kwargs)  # noqa: E501
            return data

    def champion_mastery_v4_get_champion_mastery_score_with_http_info(self, encrypted_summoner_id, **kwargs):  # noqa: E501
        """Get a player's total champion mastery score, which is the sum of individual champion mastery levels.  # noqa: E501

        Get a player's total champion mastery score, which is the sum of individual champion mastery levels.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.champion_mastery_v4_get_champion_mastery_score_with_http_info(encrypted_summoner_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_summoner_id: Summoner ID associated with the player (required)
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['encrypted_summoner_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method champion_mastery_v4_get_champion_mastery_score" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'encrypted_summoner_id' is set
        if ('encrypted_summoner_id' not in params or
                params['encrypted_summoner_id'] is None):
            raise ValueError("Missing the required parameter `encrypted_summoner_id` when calling `champion_mastery_v4_get_champion_mastery_score`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'encrypted_summoner_id' in params:
            path_params['encryptedSummonerId'] = params['encrypted_summoner_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-Riot-Token', 'api_key']  # noqa: E501

        return self.api_client.call_api(
            '/lol/champion-mastery/v4/scores/by-summoner/{encryptedSummonerId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='int',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
