# coding: utf-8

"""
    Riot API

     OpenAPI/Swagger version of the [Riot API](https://developer.riotgames.com/). Automatically generated daily. ## Download OpenAPI Spec File The following versions of the Riot API spec file are available: - `openapi-3.0.0.json` ([download file](../openapi-3.0.0.json), [view ui](?openapi-3.0.0.json)) - `openapi-3.0.0.min.json` ([download file](../openapi-3.0.0.min.json), [view ui](?openapi-3.0.0.min.json)) - `openapi-3.0.0.yml` ([download file](../openapi-3.0.0.yml), [view ui](?openapi-3.0.0.yml)) - `openapi-3.0.0.min.yml` ([download file](../openapi-3.0.0.min.yml), [view ui](?openapi-3.0.0.min.yml)) - `swaggerspec-2.0.json` ([download file](../swaggerspec-2.0.json), [view ui](?swaggerspec-2.0.json)) - `swaggerspec-2.0.min.json` ([download file](../swaggerspec-2.0.min.json), [view ui](?swaggerspec-2.0.min.json)) - `swaggerspec-2.0.yml` ([download file](../swaggerspec-2.0.yml), [view ui](?swaggerspec-2.0.yml)) - `swaggerspec-2.0.min.yml` ([download file](../swaggerspec-2.0.min.yml), [view ui](?swaggerspec-2.0.min.yml)) ## Source Code Source code on [GitHub](https://github.com/MingweiSamuel/riotapi-schema). Pull requests welcome! ## Automatically Generated Rebuilt on [Travis CI](https://travis-ci.org/MingweiSamuel/riotapi-schema/builds) daily. ***   # noqa: E501

    OpenAPI spec version: dfa1c0f97b9cc62a43c9fb91daa1b91b3e9485c2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SummonerV4Api(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def summoner_v4_get_by_account_id(self, encrypted_account_id, **kwargs):  # noqa: E501
        """Get a summoner by account ID.  # noqa: E501

        Get a summoner by account ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.summoner_v4_get_by_account_id(encrypted_account_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_account_id:  (required)
        :return: SummonerV4SummonerDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.summoner_v4_get_by_account_id_with_http_info(encrypted_account_id, **kwargs)  # noqa: E501
        else:
            (data) = self.summoner_v4_get_by_account_id_with_http_info(encrypted_account_id, **kwargs)  # noqa: E501
            return data

    def summoner_v4_get_by_account_id_with_http_info(self, encrypted_account_id, **kwargs):  # noqa: E501
        """Get a summoner by account ID.  # noqa: E501

        Get a summoner by account ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.summoner_v4_get_by_account_id_with_http_info(encrypted_account_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_account_id:  (required)
        :return: SummonerV4SummonerDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['encrypted_account_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method summoner_v4_get_by_account_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'encrypted_account_id' is set
        if ('encrypted_account_id' not in params or
                params['encrypted_account_id'] is None):
            raise ValueError("Missing the required parameter `encrypted_account_id` when calling `summoner_v4_get_by_account_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'encrypted_account_id' in params:
            path_params['encryptedAccountId'] = params['encrypted_account_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-Riot-Token', 'api_key']  # noqa: E501

        return self.api_client.call_api(
            '/lol/summoner/v4/summoners/by-account/{encryptedAccountId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SummonerV4SummonerDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def summoner_v4_get_by_puuid(self, encrypted_puuid, **kwargs):  # noqa: E501
        """Get a summoner by PUUID.  # noqa: E501

        Get a summoner by PUUID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.summoner_v4_get_by_puuid(encrypted_puuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_puuid: Summoner ID (required)
        :return: SummonerV4SummonerDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.summoner_v4_get_by_puuid_with_http_info(encrypted_puuid, **kwargs)  # noqa: E501
        else:
            (data) = self.summoner_v4_get_by_puuid_with_http_info(encrypted_puuid, **kwargs)  # noqa: E501
            return data

    def summoner_v4_get_by_puuid_with_http_info(self, encrypted_puuid, **kwargs):  # noqa: E501
        """Get a summoner by PUUID.  # noqa: E501

        Get a summoner by PUUID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.summoner_v4_get_by_puuid_with_http_info(encrypted_puuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_puuid: Summoner ID (required)
        :return: SummonerV4SummonerDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['encrypted_puuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method summoner_v4_get_by_puuid" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'encrypted_puuid' is set
        if ('encrypted_puuid' not in params or
                params['encrypted_puuid'] is None):
            raise ValueError("Missing the required parameter `encrypted_puuid` when calling `summoner_v4_get_by_puuid`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'encrypted_puuid' in params:
            path_params['encryptedPUUID'] = params['encrypted_puuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-Riot-Token', 'api_key']  # noqa: E501

        return self.api_client.call_api(
            '/lol/summoner/v4/summoners/by-puuid/{encryptedPUUID}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SummonerV4SummonerDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def summoner_v4_get_by_summoner_id(self, encrypted_summoner_id, **kwargs):  # noqa: E501
        """Get a summoner by summoner ID.  # noqa: E501

        Get a summoner by summoner ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.summoner_v4_get_by_summoner_id(encrypted_summoner_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_summoner_id: Summoner ID (required)
        :return: SummonerV4SummonerDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.summoner_v4_get_by_summoner_id_with_http_info(encrypted_summoner_id, **kwargs)  # noqa: E501
        else:
            (data) = self.summoner_v4_get_by_summoner_id_with_http_info(encrypted_summoner_id, **kwargs)  # noqa: E501
            return data

    def summoner_v4_get_by_summoner_id_with_http_info(self, encrypted_summoner_id, **kwargs):  # noqa: E501
        """Get a summoner by summoner ID.  # noqa: E501

        Get a summoner by summoner ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.summoner_v4_get_by_summoner_id_with_http_info(encrypted_summoner_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str encrypted_summoner_id: Summoner ID (required)
        :return: SummonerV4SummonerDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['encrypted_summoner_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method summoner_v4_get_by_summoner_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'encrypted_summoner_id' is set
        if ('encrypted_summoner_id' not in params or
                params['encrypted_summoner_id'] is None):
            raise ValueError("Missing the required parameter `encrypted_summoner_id` when calling `summoner_v4_get_by_summoner_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'encrypted_summoner_id' in params:
            path_params['encryptedSummonerId'] = params['encrypted_summoner_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-Riot-Token', 'api_key']  # noqa: E501

        return self.api_client.call_api(
            '/lol/summoner/v4/summoners/{encryptedSummonerId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SummonerV4SummonerDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def summoner_v4_get_by_summoner_name(self, summoner_name, **kwargs):  # noqa: E501
        """Get a summoner by summoner name.  # noqa: E501

        Get a summoner by summoner name.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.summoner_v4_get_by_summoner_name(summoner_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str summoner_name: Summoner Name (required)
        :return: SummonerV4SummonerDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.summoner_v4_get_by_summoner_name_with_http_info(summoner_name, **kwargs)  # noqa: E501
        else:
            (data) = self.summoner_v4_get_by_summoner_name_with_http_info(summoner_name, **kwargs)  # noqa: E501
            return data

    def summoner_v4_get_by_summoner_name_with_http_info(self, summoner_name, **kwargs):  # noqa: E501
        """Get a summoner by summoner name.  # noqa: E501

        Get a summoner by summoner name.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.summoner_v4_get_by_summoner_name_with_http_info(summoner_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str summoner_name: Summoner Name (required)
        :return: SummonerV4SummonerDTO
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['summoner_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method summoner_v4_get_by_summoner_name" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'summoner_name' is set
        if ('summoner_name' not in params or
                params['summoner_name'] is None):
            raise ValueError("Missing the required parameter `summoner_name` when calling `summoner_v4_get_by_summoner_name`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'summoner_name' in params:
            path_params['summonerName'] = params['summoner_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-Riot-Token', 'api_key']  # noqa: E501

        return self.api_client.call_api(
            '/lol/summoner/v4/summoners/by-name/{summonerName}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SummonerV4SummonerDTO',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
