/*
 * Riot API
 *  OpenAPI/Swagger version of the [Riot API](https://developer.riotgames.com/). Automatically generated daily. ## Download OpenAPI Spec File The following versions of the Riot API spec file are available: - `openapi-3.0.0.json` ([download file](../openapi-3.0.0.json), [view ui](?openapi-3.0.0.json)) - `openapi-3.0.0.min.json` ([download file](../openapi-3.0.0.min.json), [view ui](?openapi-3.0.0.min.json)) - `openapi-3.0.0.yml` ([download file](../openapi-3.0.0.yml), [view ui](?openapi-3.0.0.yml)) - `openapi-3.0.0.min.yml` ([download file](../openapi-3.0.0.min.yml), [view ui](?openapi-3.0.0.min.yml)) - `swaggerspec-2.0.json` ([download file](../swaggerspec-2.0.json), [view ui](?swaggerspec-2.0.json)) - `swaggerspec-2.0.min.json` ([download file](../swaggerspec-2.0.min.json), [view ui](?swaggerspec-2.0.min.json)) - `swaggerspec-2.0.yml` ([download file](../swaggerspec-2.0.yml), [view ui](?swaggerspec-2.0.yml)) - `swaggerspec-2.0.min.yml` ([download file](../swaggerspec-2.0.min.yml), [view ui](?swaggerspec-2.0.min.yml)) ## Source Code Source code on [GitHub](https://github.com/MingweiSamuel/riotapi-schema). Pull requests welcome! ## Automatically Generated Rebuilt on [Travis CI](https://travis-ci.org/MingweiSamuel/riotapi-schema/builds) daily. *** 
 *
 * OpenAPI spec version: dfa1c0f97b9cc62a43c9fb91daa1b91b3e9485c2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.SummonerV4SummonerDTO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SummonerV4Api {
    private ApiClient apiClient;

    public SummonerV4Api() {
        this(Configuration.getDefaultApiClient());
    }

    public SummonerV4Api(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for summonerV4GetByAccountId
     * @param encryptedAccountId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByAccountId">Get a summoner by account ID. Documentation</a>
     */
    public com.squareup.okhttp.Call summonerV4GetByAccountIdCall(String encryptedAccountId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/lol/summoner/v4/summoners/by-account/{encryptedAccountId}"
            .replaceAll("\\{" + "encryptedAccountId" + "\\}", apiClient.escapeString(encryptedAccountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "X-Riot-Token", "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call summonerV4GetByAccountIdValidateBeforeCall(String encryptedAccountId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'encryptedAccountId' is set
        if (encryptedAccountId == null) {
            throw new ApiException("Missing the required parameter 'encryptedAccountId' when calling summonerV4GetByAccountId(Async)");
        }
        

        com.squareup.okhttp.Call call = summonerV4GetByAccountIdCall(encryptedAccountId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a summoner by account ID.
     * Get a summoner by account ID.
     * @param encryptedAccountId  (required)
     * @return SummonerV4SummonerDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByAccountId">Get a summoner by account ID. Documentation</a>
     */
    public SummonerV4SummonerDTO summonerV4GetByAccountId(String encryptedAccountId) throws ApiException {
        ApiResponse<SummonerV4SummonerDTO> resp = summonerV4GetByAccountIdWithHttpInfo(encryptedAccountId);
        return resp.getData();
    }

    /**
     * Get a summoner by account ID.
     * Get a summoner by account ID.
     * @param encryptedAccountId  (required)
     * @return ApiResponse&lt;SummonerV4SummonerDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByAccountId">Get a summoner by account ID. Documentation</a>
     */
    public ApiResponse<SummonerV4SummonerDTO> summonerV4GetByAccountIdWithHttpInfo(String encryptedAccountId) throws ApiException {
        com.squareup.okhttp.Call call = summonerV4GetByAccountIdValidateBeforeCall(encryptedAccountId, null, null);
        Type localVarReturnType = new TypeToken<SummonerV4SummonerDTO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a summoner by account ID. (asynchronously)
     * Get a summoner by account ID.
     * @param encryptedAccountId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByAccountId">Get a summoner by account ID. Documentation</a>
     */
    public com.squareup.okhttp.Call summonerV4GetByAccountIdAsync(String encryptedAccountId, final ApiCallback<SummonerV4SummonerDTO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = summonerV4GetByAccountIdValidateBeforeCall(encryptedAccountId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SummonerV4SummonerDTO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for summonerV4GetByPUUID
     * @param encryptedPUUID Summoner ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByPUUID">Get a summoner by PUUID. Documentation</a>
     */
    public com.squareup.okhttp.Call summonerV4GetByPUUIDCall(String encryptedPUUID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/lol/summoner/v4/summoners/by-puuid/{encryptedPUUID}"
            .replaceAll("\\{" + "encryptedPUUID" + "\\}", apiClient.escapeString(encryptedPUUID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "X-Riot-Token", "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call summonerV4GetByPUUIDValidateBeforeCall(String encryptedPUUID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'encryptedPUUID' is set
        if (encryptedPUUID == null) {
            throw new ApiException("Missing the required parameter 'encryptedPUUID' when calling summonerV4GetByPUUID(Async)");
        }
        

        com.squareup.okhttp.Call call = summonerV4GetByPUUIDCall(encryptedPUUID, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a summoner by PUUID.
     * Get a summoner by PUUID.
     * @param encryptedPUUID Summoner ID (required)
     * @return SummonerV4SummonerDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByPUUID">Get a summoner by PUUID. Documentation</a>
     */
    public SummonerV4SummonerDTO summonerV4GetByPUUID(String encryptedPUUID) throws ApiException {
        ApiResponse<SummonerV4SummonerDTO> resp = summonerV4GetByPUUIDWithHttpInfo(encryptedPUUID);
        return resp.getData();
    }

    /**
     * Get a summoner by PUUID.
     * Get a summoner by PUUID.
     * @param encryptedPUUID Summoner ID (required)
     * @return ApiResponse&lt;SummonerV4SummonerDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByPUUID">Get a summoner by PUUID. Documentation</a>
     */
    public ApiResponse<SummonerV4SummonerDTO> summonerV4GetByPUUIDWithHttpInfo(String encryptedPUUID) throws ApiException {
        com.squareup.okhttp.Call call = summonerV4GetByPUUIDValidateBeforeCall(encryptedPUUID, null, null);
        Type localVarReturnType = new TypeToken<SummonerV4SummonerDTO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a summoner by PUUID. (asynchronously)
     * Get a summoner by PUUID.
     * @param encryptedPUUID Summoner ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getByPUUID">Get a summoner by PUUID. Documentation</a>
     */
    public com.squareup.okhttp.Call summonerV4GetByPUUIDAsync(String encryptedPUUID, final ApiCallback<SummonerV4SummonerDTO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = summonerV4GetByPUUIDValidateBeforeCall(encryptedPUUID, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SummonerV4SummonerDTO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for summonerV4GetBySummonerId
     * @param encryptedSummonerId Summoner ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerId">Get a summoner by summoner ID. Documentation</a>
     */
    public com.squareup.okhttp.Call summonerV4GetBySummonerIdCall(String encryptedSummonerId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/lol/summoner/v4/summoners/{encryptedSummonerId}"
            .replaceAll("\\{" + "encryptedSummonerId" + "\\}", apiClient.escapeString(encryptedSummonerId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "X-Riot-Token", "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call summonerV4GetBySummonerIdValidateBeforeCall(String encryptedSummonerId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'encryptedSummonerId' is set
        if (encryptedSummonerId == null) {
            throw new ApiException("Missing the required parameter 'encryptedSummonerId' when calling summonerV4GetBySummonerId(Async)");
        }
        

        com.squareup.okhttp.Call call = summonerV4GetBySummonerIdCall(encryptedSummonerId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a summoner by summoner ID.
     * Get a summoner by summoner ID.
     * @param encryptedSummonerId Summoner ID (required)
     * @return SummonerV4SummonerDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerId">Get a summoner by summoner ID. Documentation</a>
     */
    public SummonerV4SummonerDTO summonerV4GetBySummonerId(String encryptedSummonerId) throws ApiException {
        ApiResponse<SummonerV4SummonerDTO> resp = summonerV4GetBySummonerIdWithHttpInfo(encryptedSummonerId);
        return resp.getData();
    }

    /**
     * Get a summoner by summoner ID.
     * Get a summoner by summoner ID.
     * @param encryptedSummonerId Summoner ID (required)
     * @return ApiResponse&lt;SummonerV4SummonerDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerId">Get a summoner by summoner ID. Documentation</a>
     */
    public ApiResponse<SummonerV4SummonerDTO> summonerV4GetBySummonerIdWithHttpInfo(String encryptedSummonerId) throws ApiException {
        com.squareup.okhttp.Call call = summonerV4GetBySummonerIdValidateBeforeCall(encryptedSummonerId, null, null);
        Type localVarReturnType = new TypeToken<SummonerV4SummonerDTO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a summoner by summoner ID. (asynchronously)
     * Get a summoner by summoner ID.
     * @param encryptedSummonerId Summoner ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerId">Get a summoner by summoner ID. Documentation</a>
     */
    public com.squareup.okhttp.Call summonerV4GetBySummonerIdAsync(String encryptedSummonerId, final ApiCallback<SummonerV4SummonerDTO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = summonerV4GetBySummonerIdValidateBeforeCall(encryptedSummonerId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SummonerV4SummonerDTO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for summonerV4GetBySummonerName
     * @param summonerName Summoner Name (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerName">Get a summoner by summoner name. Documentation</a>
     */
    public com.squareup.okhttp.Call summonerV4GetBySummonerNameCall(String summonerName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/lol/summoner/v4/summoners/by-name/{summonerName}"
            .replaceAll("\\{" + "summonerName" + "\\}", apiClient.escapeString(summonerName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "X-Riot-Token", "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call summonerV4GetBySummonerNameValidateBeforeCall(String summonerName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'summonerName' is set
        if (summonerName == null) {
            throw new ApiException("Missing the required parameter 'summonerName' when calling summonerV4GetBySummonerName(Async)");
        }
        

        com.squareup.okhttp.Call call = summonerV4GetBySummonerNameCall(summonerName, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a summoner by summoner name.
     * Get a summoner by summoner name.
     * @param summonerName Summoner Name (required)
     * @return SummonerV4SummonerDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerName">Get a summoner by summoner name. Documentation</a>
     */
    public SummonerV4SummonerDTO summonerV4GetBySummonerName(String summonerName) throws ApiException {
        ApiResponse<SummonerV4SummonerDTO> resp = summonerV4GetBySummonerNameWithHttpInfo(summonerName);
        return resp.getData();
    }

    /**
     * Get a summoner by summoner name.
     * Get a summoner by summoner name.
     * @param summonerName Summoner Name (required)
     * @return ApiResponse&lt;SummonerV4SummonerDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerName">Get a summoner by summoner name. Documentation</a>
     */
    public ApiResponse<SummonerV4SummonerDTO> summonerV4GetBySummonerNameWithHttpInfo(String summonerName) throws ApiException {
        com.squareup.okhttp.Call call = summonerV4GetBySummonerNameValidateBeforeCall(summonerName, null, null);
        Type localVarReturnType = new TypeToken<SummonerV4SummonerDTO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a summoner by summoner name. (asynchronously)
     * Get a summoner by summoner name.
     * @param summonerName Summoner Name (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * Official API Reference
     * @see <a href="https://developer.riotgames.com/api-methods/#summoner-v4/GET_getBySummonerName">Get a summoner by summoner name. Documentation</a>
     */
    public com.squareup.okhttp.Call summonerV4GetBySummonerNameAsync(String summonerName, final ApiCallback<SummonerV4SummonerDTO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = summonerV4GetBySummonerNameValidateBeforeCall(summonerName, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SummonerV4SummonerDTO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
